<ul class="sidebar">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logs">Logs</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>