<nav class="sidebar expanded">
    <ul>
        <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/pengaturan"><i class="fas fa-cog"></i> Pengaturan</a></li>
        <li><a href="/router-nas"><i class="fas fa-server"></i> Router [ NAS ]</a></li>
        <li><a href="/data-odp-pop"><i class="fas fa-database"></i> Data ODP | POP</a></li>
        <li><a href="/profil-paket"><i class="fas fa-box"></i> Profil Paket</a></li>
        <li><a href="/list-pelanggan"><i class="fas fa-users"></i> List Pelanggan</a></li>
        <li><a href="/kartu-voucher"><i class="fas fa-ticket-alt"></i> Kartu voucher</a></li>
        <li><a href="/data-tagihan"><i class="fas fa-file-invoice"></i> Data tagihan</a></li>
        <li><a href="/data-keuangan"><i class="fas fa-money-bill-wave"></i> Data keuangan</a></li>
        <li><a href="/online-payment"><i class="fas fa-globe"></i> Online Payment</a></li>
        <li><a href="/tiket-laporan"><i class="fas fa-clipboard-list"></i> Tiket laporan</a></li>
        <li><a href="/tool-sistem"><i class="fas fa-tools"></i> Tool Sistem</a></li>
        <li><a href="/log-aplikasi"><i class="fas fa-book"></i> Log Aplikasi</a></li>
        <li><a href="#"><i class="fas fa-network-wired"></i> List Neighbor</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</nav>